body{
    margin:0;
    padding:0 60px 0 60px;
}

div#header
{
    padding: 0;
}

div#footer
{
    padding: 1ex 0 1ex 0;
    text-align: center;
}

div#main
{
	padding: 0;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
}

h2{
    font-family:Arial, Helvetica, sans-serif;
}

h3{
    font-family:Arial, Helvetica, sans-serif;
}

p{
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 2em;
}

pre{
    margin-left: 4em;
    padding: 0.5ex 0 0.5ex 0.5em;
    border-style: dashed;
    border-width: 1px;
}
